/* Probando estilos */

* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

header {
    text-align: center;
    background-color: black;
}

.mapa {
    max-width: 100%;
}

.imgLander {
    justify-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 5rem;
    max-height: 17rem;
}

.navMenu {
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    padding-top: .1rem;
    padding-bottom: 1rem;
    font-size: 3rem;
    list-style: none;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .navMenu {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
}

a {
    color: aliceblue;
    text-decoration: none;
}

h1 {
    text-align: center;
    padding-top: 2.5rem;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 2rem;

}
/* grid de index */
.mainPrincipal {
    display: grid;
    grid-template-areas:
    "texto img"
    "texto img"
    "rrss rrss";

    grid-template-columns:repeat(2, 1fr);
    max-width: 100%
}

.mainPrincipal {
    margin-left: 1rem;
    margin-right: 1rem;
}


@media screen and (max-width: 767px) {
    .mainPrincipal {
        display: flex;
        flex-direction: column;
    }

    .imgPrincipal {
        margin-top: 2rem;
    }
}

.imgPrincipal {
    grid-area: img;
    display: flex;
}

.textoPrincipal1 {
    grid-area: texto;
    padding-top: 2rem;
}

.textoPrincipal2 {
    grid-area: texto;
}

.rrss {
    grid-area: rrss;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}   

.instagram {
    padding: 0rem 3rem 0rem 3rem;
}

/* grid de productos */
.productos {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    gap: 3rem;
}

.card__producto {
    /* width: 1fr; */
    border: solid 1px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.card__producto img {
    max-width: 100%;
}

.card { /*prueba card con bootstrap*/
    margin-left: 2rem;
    margin-right: 2rem;
}

.card-title {
    text-align: center;
    font-size: 3rem;
}



@media screen and (max-width: 767px) {
    .productos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .productos {
        display: flex;
        flex-direction: column;
    }
}

.navMenu li {
    margin-bottom: 2rem;
    transition:ease-in 2s;
    height: 3rem;
    width: auto;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.galeria {
    display: grid;
    grid-template-areas:
    "iniciogal iniciogal"
    "galprod galserv"
    "galimg servimg";

    grid-template-columns:repeat(2, 1fr);
    max-width: 100%;
    grid-column-gap: 20px;
}

@media screen and (max-width: 576px) {
    .galeria {
        display: grid;
        grid-template-areas:
        "iniciogal" 
        "galprod" 
        "galimg"        
        "galserv"
        "servimg";

        grid-template-columns: 1fr;
        max-width: 100%;
        gap: 15px;
    }
}

.iniciogal {
    grid-area: iniciogal;
}

.galprod {
    grid-area: galprod;
}

.galimg {
    grid-area: galimg;
    /* max-width: 460px;
    max-height: 328px; */
}

.galserv {
    grid-area: galserv;
}

.servimg {
    grid-area: servimg;
}

.galeria {
    text-align: center;
    justify-content:space-around;   
}

.galeria img {
    height: 400px;
    width: 500px;
}

fieldset {
    font-size: medium;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
}

.sucursales {
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

footer {
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 15px;
    margin-top: 3rem;
    min-height: 4rem;
}