/* variables de colores y fuentes */
/* variables de MQ */
/* Fuentes */
/* Colores */
.colorblancogeneral {
  color: aliceblue;
}

/* Extend */
.margenesLR1, .mainPrincipal {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Mixing */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

a {
  color: aliceblue;
  text-decoration: none;
}

h1 {
  text-align: center;
  padding-top: 2.5rem;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

header {
  text-align: center;
  background-color: black;
}

.imgLander {
  justify-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-height: 5rem;
  max-height: 17rem;
}

footer {
  background-color: black;
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 15px;
  margin-top: 3rem;
  min-height: 4rem;
}

.navMenu {
  display: flex;
  justify-content: space-around;
  background-color: #000000;
  padding-top: 0.1rem;
  padding-bottom: 1rem;
  font-size: 3rem;
  list-style: none;
  text-decoration: none;
}
.navMenu li {
  margin-bottom: 2rem;
  transition: ease-in 2s;
  height: 3rem;
  width: auto;
}

@media screen and (max-width: 767px) {
  .navMenu {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}
.mainPrincipal {
  display: grid;
  grid-template-areas: "texto img" "texto img" "rrss rrss";
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .mainPrincipal {
    display: flex;
    flex-direction: column;
  }
  .imgPrincipal {
    margin-top: 2rem;
  }
}
.imgPrincipal {
  grid-area: img;
  display: flex;
}

.textoPrincipal1 {
  grid-area: texto;
  padding-top: 2rem;
}

.textoPrincipal2 {
  grid-area: texto;
}

.rrss {
  grid-area: rrss;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.instagram {
  padding: 0rem 3rem 0rem 3rem;
}

.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  gap: 3rem;
}

.card__producto {
  border: solid 1px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.card__producto img {
  max-width: 100%;
}

.card {
  margin-left: 2rem;
  margin-right: 2rem;
}

@media screen and (max-width: 767px) {
  .productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .productos {
    display: flex;
    flex-direction: column;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.formulario {
  background-size: 14px 14px;
  background-position: 0 0, 7px 7px;
  display: flex;
  min-height: 100vh;
}

.form {
  background-color: #e5e5f7;
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3rem;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5ox rgba(0, 0, 0, 0.3);
  text-align: center;
}

.form__contenedor {
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
}

.form__group {
  position: relative;
  --color: #5757577e;
}

.form__input {
  width: 100%;
  background: none;
  color: #706c6c;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--color);
}

.form__input:not(:placeholder-shown) {
  color: #4d4646;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: #3866f2;
}

.form__label {
  color: var(--color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 3px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}

.form__submit {
  background: #3866f2;
  color: #fff;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
}

.form__line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3866f2;
  transform: scale(0);
  transform: left bottom;
  transition: transform 0.4s;
}

.form__input:focus ~ .form__line,
.form__input:not(:placeholder-shown) ~ .form__line {
  transform: scale(1);
}

.galeria {
  display: grid;
  grid-template-areas: "iniciogal iniciogal" "galprod galserv" "galimg servimg";
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
  grid-column-gap: 20px;
  text-align: center;
  justify-content: space-around;
}
.galeria img {
  max-width: 100%;
}

@media screen and (max-width: 576px) {
  .galeria {
    display: grid;
    grid-template-areas: "iniciogal" "galprod" "galimg" "galserv" "servimg";
    grid-template-columns: 1fr;
    max-width: 100%;
    gap: 15px;
  }
}
.iniciogal {
  grid-area: iniciogal;
}

.galprod {
  grid-area: galprod;
}

.galimg {
  grid-area: galimg;
}

.galserv {
  grid-area: galserv;
}

.servimg {
  grid-area: servimg;
}

.sucursales {
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
}

.mapa {
  max-width: 100%;
}

/*# sourceMappingURL=styles.css.map */
