@import "variables";
@import "index";
@import "productos";
@import "contacto";
@import "galeria";
@import "sucursales";

* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

header {
    text-align: center;
    background-color: black;
}

.imgLander {
    justify-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 5rem;
    max-height: 17rem;
}

.navMenu {
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    padding-top: .1rem;
    padding-bottom: 1rem;
    font-size: 3rem;
    list-style: none;
    text-decoration: none;

    li {
        margin-bottom: 2rem;
        transition:ease-in 2s;
        height: 3rem;
        width: auto;
    }
    
}

@media screen and (max-width: $mq-med-g) {
    .navMenu {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
}

a {
    color: aliceblue;
    text-decoration: none;
}

h1 {
    text-align: center;
    padding-top: 2.5rem;
    font-size: 3rem;
    font-family: $fuentetitulos;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 2rem;
    font-family: $fuentetitulos;
}

footer {
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 15px;
    margin-top: 3rem;
    min-height: 4rem;
}