@import "variables";
@import "main";
@import "index";
@import "productos";
@import "contacto";
@import "galeria";
@import "sucursales";

* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

a {
    color: aliceblue;
    text-decoration: none;
}

h1 {
    text-align: center;
    padding-top: 2.5rem;
    font-size: 3rem;
    font-family: $fuentetitulos;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 2rem;
    font-family: $fuentetitulos;
}

footer {
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 15px;
    margin-top: 3rem;
    min-height: 4rem;
}